@import "styles/settings/__settings";
@import "styles/variables";
@import "styles/mixins";

.articolo {
  transition: 0.2s;
  overflow: hidden;
  position: relative;
  display: grid;
  border: 1px solid $black_alt;
  grid-template-rows: auto 1fr;
  padding: 32px;
  border-radius: 8px;
  background: white;
  width: 100%;

  flex: 1 1;
  min-width: 325px;

  box-shadow: 0 0 8px -4px $black_alt;

  .date {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .subtitle {
    @include subtitle;
    margin: 0;
    margin-bottom: 24px;
  }

  .description {
    font-size: 1em;
    overflow: hidden;
    text-align: justify;
  }

  .cta {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #df5e5e;
    width: max-content;
    height: max-content;
    border-radius: 50px;
    border: 2px solid $red;
    padding: 5px 20px;
    margin-top: 24px;

    &:hover {
      span {
        transform: translateX(5px);
      }
    }

    span {
      transition: .2s;
      font-family: NerdFonts;
      font-size: 2em;
      margin-left: 10px;
      line-height: 10px;
    }
  }
}