@import "styles/variables";
@import "styles/animations";

.header {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 2px solid $red;
  box-shadow: 0 0 20px -10px $black;
  width: 100%;
  z-index: 100;
  padding: 24px;
  background: $white;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;

  .logoContainer {
    border: 0;

    .logo {
      width: 160px;

      @media screen and (max-width: $small-screen-threshold) {
        width: 120px;
      }
    }
  }

  .mobileMenuButton {
    display: none;

    font-family: NerdFonts;
    font-size: 48px;
    font-weight: 100;

    @media screen and (max-width: $mobile-threshold) {
      display: block;
    }
  }

  nav.menu {
    color: $black;
    font-size: 1em;
    display: flex;
    align-items: center;

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      list-style: none;
      flex-wrap: wrap;
      gap: 20px;

      li.menuItem {
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
        user-select: none;

        $borderWidth: 6px;
        padding: 5px 15px;
        background-color: $white;
        border-radius: 3px;

        a {
          font-size: 36px;
          color: $black;
          border: none;

          @media screen and (max-width: $small-screen-threshold) {
            font-size: 24px;
          }
        }

        &:before {
          transition: 0.2s;
          position: absolute;
          content: "";
          bottom: -$borderWidth / 2;
          left: -$borderWidth / 2;
          width: calc(100% + #{$borderWidth});
          height: 0px;
          background: $red;
          z-index: -1;
          border-radius: 3px;
        }

        &:hover {
          &:before {
            height: $borderWidth;
          }
        }
      }
    }

    .navSearch {
      margin: 0 24px;
      position: relative;

      button {
        color: $red;
        font-size: 24px;
        cursor: pointer;
      }

      form {
        position: absolute;
        right: -12px;
        top: 50px;
        border: 2px solid $red;
        background: $white;
        padding: 24px;

        input {
          width: 300px;
          padding: 12px;
          font-size: 24px;
          border: none;
          border-bottom: 2px solid $red;
          outline: none;
          background: $white;
        }

        ul {
          margin-top: 24px;

          li {
            font-size: 20px;
            width: 100%;
            border-bottom: 1px dashed $red;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }

    @media screen and (max-width: $mobile-threshold) {
      display: none;
    }
  }

  nav.mobileMenu {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120%;
    background: $white;
    z-index: 100;
    padding: 20px 0;
    justify-content: center;
    align-items: flex-start;
    padding-top: 165px;
    animation: mobileMenuShow 0.3s ease-in-out;
    transition: .3s ease-in-out;

    .mobileMenuCloseButton {
      font-family: NerdFonts;
      font-size: 32px;
      font-weight: 100;
      position: absolute;
      top: 0;
      right: 0;
      height: 110px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        margin: 0 24px;
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
        user-select: none;
        font-size: 32px;

        img {
          width: 160px;
          margin-bottom: 50px;
        }


      }

      li.menuItem {
        $borderWidth: 6px;
        padding: 5px 15px;
        background-color: $white;
        border-radius: 3px;

        a {
          color: $black;
          border: none;
        }
      }
    }
  }

  nav.mobileMenu.closing {
    transform: translateX(100%);
  }
}